---
import { contentfulClient } from "../lib/contentful";
import type { BlogPost } from "../lib/contentful";
import MainLayout from "../layouts/MainLayout.astro";
import Hero from "../components/Hero.astro";

const entries = await contentfulClient.getEntries<BlogPost>({
  content_type: "blogPost",
});

const posts = entries.items.map((item) => {
  const { title, date, author, description, slug } = item.fields;
  return {
    title,
    slug,
    author,
    description,
    date: new Date(date).toLocaleDateString()
  };
});
---
<MainLayout title="Becca's Blog">
<Hero />  
  
    
    <section class="container" aria-label="New Blog Posts">
      <div class="post-container">
    <ul>
      {posts.map((post) => (
        <li>
          <a href={`/posts/${post.slug}/`}>
            <h2>{post.title}</h2>
          </a>
          <time>{post.date}</time>
          <p><small>author: </small>{post.author}</p>
          <p>{post.description}</p>
        </li>
      ))}
    </ul>
  </div>
  </section>
  
</MainLayout>  